<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail Phone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center;">

    <h4 th:text="'Phone name: '+${phone.getName()}"></h4>
    <p th:text="'Phone price: '+${phone.getPrice()}"></p>
    <img th:src="@{'/images/'+ ${phone.getImageProduct()}}" alt="..." width="200px">
    <p th:text="'Phone desciption: '+${phone.getDescription()}"></p>
    <td>
        <a th:href="@{'/cart/'+ ${phone.getCode()}}">Thêm vào giỏ</a>
    </td>
</div>
</body>
</html>